<div class="container" style="padding-top: 48px;">
    <div class="contact-us-form-wrapper">
        <div class="submenu-section">
            <ul id="contact-us-menu">
                <li data-display="contact-form">
                    Contact US
                </li>
            </ul>
        </div>

        <div class="contact-form-section">
            <form action="submit" method="post" class="contact_form">
                <p style="margin: 0px 0px -33px;">
                    <label id="name" name="contact_us[name]" type="text" class="contents">Name</label>
                    <input id="contact_us_name" class="text_box" name="person[first_name]" type="text"/><br />

                </p>
                <ul class="ul-error-list name_required" style="display:none">
                    <li>
                        This Value is required.
                    </li>
                </ul>
                <p style="margin: 0px 0px -33px;">
                    <label id="email" name="contact_us[email]" type="text" class="contents">Email</label>
                    <input id="contact_us_email" class="text_box" type="email" name="person[first_name]" onblur="validateEmail(this)" /><br />
                </p>
                <ul class="ul-error-list email_required" style="display:none;">
                    <li>
                        This Value is required.
                    </li>
                </ul>
                <ul class="ul-error-list invalid-email" style="display: none;">
                    <li>
                        This value should Valid Email
                    </li>
                </ul>
                <p>
                    <label id="message" name="contact_us[email]" type="text" class="contents">Message</label>
                    <textarea  id="contact_us_message" name="message" rows="" cols="" class="text_box"></textarea>
                </p>
                <ul class="ul-error-list message_required" style="display:none;">
                    <li>
                        This Value is required.
                    </li>
                </ul>
                <p>
                    <input id="detail_submit" class="button" value="send" type="button" style="font-size: 1.200em;">
                </p>
            </form>
        </div>
        <div id="overlay" class="loading-overlay close-modal" style="display: none;"></div>
        <div class="notifications" id="notifications" style="display: none;">
            <div class="notification-close close-modal"></div>
            <h3 class="notification notification-success ">
                <div class="image_logo">

                </div>
                <%= "Thanks For Contacting Us" %>
            </h3>
            <h6>We'll reply as soon as possible.</h6>
            <a href="#" class="button close-modal" style="width:21%;">Close</a>
        </div>
    </div>
    </div>